<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
<% if flash[:errors] %>
<% flash[:errors].each do |m| %>
    <h3 style="color: red"><%= m %></h3>
<%end%>
<%end%>
<h1>Recipes New Form</h1>
<%= form_with model: @new_recipe do |form| %>
  <%= form.text_field :name, placeholder:'Recipe Name' %>
  <%= form.collection_select :user_id, User.all, :id, :name %>
  <% @ingredients.each do|i| %>
    <div> <%= check_box_tag "recipe[ingredients][]", i.id %> <%=i.name%></div>
  <% end %>
 <div> <%= form.submit %></div>
 <% end %>
  </body>
</html>

